:root {
    --background-color: #000;
    --hover-color: #0ab226;
    --btn-color: #cac7c7;
    --form-color: #d7d7d7;
    --normal-color: #fffdfd;
    --color: #7e7e7e;

}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


.container {
    width: 1120px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: var(--normal-color);
}

img {
    display: block;
    max-width: 100%;
    margin: 0;
}


body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat Alternates", sans-serif;
}


.main {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    

}

.header {
    padding-top: 21px;
    padding-bottom: 21px;
}


.header__logo {
    width: 93px;
    height: 38px;
    margin-top: 15px;



}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__box {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__link {
    font-weight: 400;
    font-size: 12px;
    color: var(--background-color);
    display: block;
    width: 100px;

}

.header__link:hover,
.header__link:focus {

    color: var(--hover-color);


}


.header__box-item {
    width: 15px;
    height: 15px;


}

.hero {
    padding-top: 36px;
    padding-bottom: 36px;
}

.hero__title {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-bottom: 36px;
}


.hero__line {

    width: 536px;
    height: 1px;
    background-color: var(--background-color);
    display: block;
    margin: 0 auto;
    margin-bottom: 36px;
}


.hero__subtitle {

    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 36px;
}





.form {
    width: 230px;
    position: relative;
    height: 35px;
}

.hero__input {
    width: 215px;
    height: 35px;
    background-color: var(--btn-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 400;
    font-size: 12px;
    border-right: none;
    padding: 10px;
    border: 1px solid var(--btn-color);
}

.hero__btn {
    width: 35px;
    height: 35px;
    background-color: var(--background-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 1px solid var(--background-color);
    display: inline-block;
    margin-top: -10px;
    position: absolute;
    bottom: 0;
}

.hero__box {

    display: flex;
    justify-content: center;
    gap: 149px;

}

.second {
    padding-top: 36px;
}

.second__input {
    width: 115px;
    height: 35px;
    background-color: var(--btn-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 400;
    font-size: 12px;
    border-right: none;
    padding: 10px;
        border: 1px solid var(--btn-color);
}


.third {
    padding-top: 36px;
}

.third__box {
    display: flex;
    gap: 104px;
    width: 600px;
    padding-left: 160px;
    margin: 0 auto;

}

.third__list {
    display: flex;
    gap: 38px;
}

.third__click {
    border-radius: 20px;
    padding: 10px;
    width: 60px;
    height: 60px;
    background-color: var(--background-color);
    cursor: pointer;


}

.third__word {
    margin-top: 36px;
    margin-bottom: 36px;
    text-align: center;
}


.third__btn {
    padding: 10px 20px;
    background-color: var(--background-color);
    font-weight: 400;
    font-size: 12px;
    color: var(--btn-color);
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.four {
    padding-top: 36px;
}


.four__box {
    width: 630px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}


.four__input {
    border-radius: 20px;
    padding: 10px;
    width: 135px;
    background-color: var(--form-color);
    font-weight: 400;
    font-size: 12px;
    color: var(--btn-color);
    border: 1px solid var(--form-color);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    height: 35px;
}


.four__btn {
    border-radius: 20px;
    width: 25px;
    height: 25px;
    background-color: var(--background-color);
    color: var(--normal-color);


}


.four__numb {
    width: 62px;
    height: 62px;

}


.four__result {
    border-radius: 20px;
    padding: 10px;
    width: 135px;
    background-color: var(--form-color);
    font-weight: 400;
    font-size: 12px;
    color: var(--color);
    border: 1px solid var(--form-color);

    height: 35px;
}


.time {
    padding-bottom: 36px;
}



.time__input {
    width: 120px;
    height: 35px;
    background-color: var(--btn-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 400;
    font-size: 12px;
    border-right: none;
    padding: 10px;
    margin-left: 80px;
    border: 1px solid var(--btn-color);
}


.time__line {
    width: 100px;
    height: 1px;
    background-color: var(--background-color);
}

.time__box {
    display: flex;
    gap: 33px;
    align-items: center;
}

.dino{
    padding-bottom: 37px;
    margin-bottom: 300px;
}
.dino__box{
    background-image: url(../img/background-dino.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 700px;
    margin: 0 auto;
    position: relative;
}


.dino__one{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 65px;
    left: 100px;
}


.dino__two{
    width:90px;
    position: absolute;

}
