:root {
    --background-color: #000;
    --hover-color: #0ab226;
    --btn-color: #cac7c7;
    --form-color: #d7d7d7;
    --normal-color: #fffdfd;
    --color: #7e7e7e;
    --fotball: #5abb58;
    --icons: #5ddce1;
    --div-color: #d9d9d9;
    --game-over-color: #ff4646;

}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


.container {
    width: 1120px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: var(--normal-color);
}

img {
    display: block;
    max-width: 100%;
    margin: 0;
}


body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat Alternates", sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;

}


.main {
    background-color: var(--normal-color);
    width: 1120px;
    margin: 0 auto;
}

.header {
    padding-top: 21px;
    padding-bottom: 21px;
}


.header__logo {
    width: 93px;
    height: 38px;
    margin-top: 15px;



}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__box {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__link {
    font-weight: 400;
    font-size: 12px;
    color: var(--background-color);
    display: block;
    width: 100px;

}

.header__link:hover,
.header__link:focus {

    color: var(--hover-color);


}


.header__box-item {
    width: 15px;
    height: 15px;


}

.hero {
    padding-top: 36px;
    padding-bottom: 36px;
}

.hero__title {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-bottom: 36px;
}


.line {

    width: 536px;
    height: 2px;
    background-color: var(--background-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
}


.hero__subtitle {

    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 36px;
}






.second-form {
    width: 230px;
    position: relative;
    height: 35px;
}

.form {
    width: 230px;
    position: relative;
    height: 35px;
}


.hero__input {
    width: 215px;
    height: 35px;
    background-color: var(--btn-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 400;
    font-size: 12px;
    border-right: none;
    padding: 10px;
    border: 1px solid var(--btn-color);
}

.hero__btn {
    width: 35px;
    height: 35px;
    background-color: var(--background-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 1px solid var(--background-color);
    display: inline-block;
    margin-top: -10px;
    position: absolute;
    bottom: 0;
}

.hero__box {

    display: flex;
    justify-content: center;
    gap: 149px;

}

.second {
    padding-top: 36px;
}

.second__input {
    width: 115px;
    height: 35px;
    background-color: var(--btn-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 400;
    font-size: 12px;
    border-right: none;
    padding: 10px;
    border: 1px solid var(--btn-color);
}


.third {
    padding-top: 36px;
}

.third__box {
    display: flex;
    gap: 104px;
    width: 600px;
    padding-left: 160px;
    margin: 0 auto;

}

.third__list {
    display: flex;
    gap: 38px;
}

.third__click {
    border-radius: 20px;
    padding: 10px;
    width: 60px;
    height: 60px;
    background-color: var(--background-color);
    cursor: pointer;


}

.third__word {
    margin-top: 36px;
    margin-bottom: 36px;
    text-align: center;
}


.third__btn {
    padding: 10px 20px;
    background-color: var(--background-color);
    font-weight: 400;
    font-size: 12px;
    color: var(--btn-color);
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid transparent;
}

.third__btn:hover,
.third__btn:focus {

    color: var(--hover-color);
    background-color: var(--normal-color);
    border: 1px solid var(--hover-color);


}


.four {
    padding-top: 36px;
}


.four__box {
    width: 630px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}


.four__input {
    border-radius: 20px;
    padding: 10px;
    width: 135px;
    background-color: var(--form-color);
    font-weight: 400;
    font-size: 12px;
    color: var(--background-colorr);
    border: 1px solid var(--form-color);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    height: 35px;
}


.four__btn {
    border-radius: 20px;
    width: 25px;
    height: 25px;
    background-color: var(--background-color);
    color: var(--normal-color);


}


.four__numb {
    width: 62px;
    height: 62px;

}


.four__result {
    border-radius: 20px;
    padding: 10px;
    width: 135px;
    background-color: var(--form-color);
    font-weight: 400;
    font-size: 14px;
    color: var(--background-color);
    border: 1px solid var(--form-color);

    height: 35px;
}


.time {
    padding-bottom: 36px;
}



.time__input {
    width: 120px;
    height: 35px;
    background-color: var(--btn-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 400;
    font-size: 12px;
    border-right: none;
    padding: 10px;
    margin-left: 80px;
    border: 1px solid var(--btn-color);
}


.time__line {
    width: 100px;
    height: 2px;
    background-color: var(--background-color);
}

.time__box {
    display: flex;
    gap: 33px;
    align-items: center;
}

.dino {
    padding-bottom: 37px;
    position: relative;
}

.dino__box {
    background-image: url(../img/background-dino.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 700px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    

}


.dino__one {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 100px;
    bottom: 0px;
}


.dino__two {
    width: 120px;
    position: absolute;
    right: -100px;
    bottom: 0px;
}

.dino__start {
    display: block;
    margin: 35px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--btn-color);
    border-radius: 20px;
    border: 1px solid var(--btn-color);
}

.dino__start:hover,
.dino__start:focus {

    color: var(--hover-color);
    background-color: var(--normal-color);
    border: 1px solid var(--hover-color);


}


.dino__game-over {
    display: block;
    text-align: center;
    font-size: 24px;
    color: var(--game-over-color);
    font-weight: 700;
    position: absolute;
    top: 100px;
    left: 500px;
    right: 50px;
}

.football__box {
    border-radius: 37px;
    width: 720px;
    background-color: var(--fotball);
    height: 220px;
    margin-bottom: 37px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
}



.guess {
    padding-bottom: 37px;
}

.guess__box {
    display: flex;
    justify-content: center;
    gap: 38px;
    margin-bottom: 37px;
}


.guess__input {
    border-radius: 20px;
    padding: 10px;
    width: 135px;
    background-color: var(--form-color);
    font-weight: 400;
    font-size: 12px;
    color: var(--btn-color);
    border: 1px solid var(--form-color);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    height: 35px;
}


.guess__text {
    text-align: center;
    font-weight: 400;
    font-size: 12px;

}


.slide {
    padding-bottom: 37px;
}

.slide__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 37px;
    justify-content: center;
}

.slide__img {
    width: 400px;

}

.slide__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide__btn {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
}

.slide__arrows {
    width: 50px;
    height: 50px;
    fill: var(--icons);
}

.slide__arrows:hover,
.slide__arrows:focus {

    fill: var(--hover-color);


}


.find {
    padding-bottom: 37px;
}

.find__list {
    display: flex;
    flex-wrap: wrap;
    gap: 59px;
    width: 580px;
    justify-content: center;
    margin: 0 auto;

}

.find__item {
    width: 100px;
    height: 100px;
    background-color: var(--div-color);
    border-radius: 20px;

}


.find__boxer {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 1000px;
    margin-top: 36px;
}

.find__box {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
}

.find__wrap {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.find__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.find__btn {
    display: inline-block;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 12px;
    background-color: var(--background-color);
    color: var(--normal-color);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    width: fit-content;
    border: 1px solid transparent;
}


.find__btn:hover,
.find__btn:focus {
    color: var(--hover-color);
    background-color: var(--normal-color);
    border: 1px solid var(--hover-color);
}

.footer {
    padding-bottom: 37px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__logo {
    width: 165px;
    height: 70px;
    max-width: 200%;
}


.footer__list {
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.footer__link {

    color: var(--background-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;


}

.footer__link:hover,
.footer__link:focus {
    color: var(--hover-color);
}


.footer__box {
    display: flex;
    gap: 36px;
}


.footer__input {
    border-radius: 20px;
    padding: 10px 80px 10px 10px;
    width: 204px;
    background-color: var(--form-color);
    font-weight: 400;
    font-size: 12px;
    color: var(--btn-color);
    border: 1px solid var(--form-color);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    height: 35px;
}


.form__btn {
    border-radius: 20px;
    padding: 10px;
    background-color: var(--background-color);
    font-weight: 400;
    font-size: 12px;
    color: var(--btn-color);
    border: 1px solid var(--normal-color);

}

.form__btn:hover,
.form__btn:focus {
    color: var(--hover-color);
    background-color: var(--normal-color);
    border: 1px solid var(--hover-color);
}


.form__text {
    font-weight: 400;
    font-size: 6px;
    color: var(--background-color);
    margin-top: 18px;
}